@keyframes GradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}h1 {
    font-size: 3rem;
    color: #333333;
    text-align: center;
    margin-top: 50px;
}h2 {
    font-size: 3rem;
    color: #333333;
    text-align:center;
    margin-top: 50px;
    
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}nav ul li a:hover {
    color: #ADD8E6;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


section {
    margin-bottom: 50px;
}

h2 {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 20px;
}

ul {
    margin-left: 40px;
}

li {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333333;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #333333;
}


